<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>botsofcode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        a {
            width: 90%;
            max-width: 400px;
        }

        img {
            width: 100%;
        }
    </style>
</head>
<body>
<a href="https://twitter.com/botsofcode">
    <img src="https://pbs.twimg.com/profile_images/765443654471323648/zPfYoDh__400x400.jpg" alt="Go to botsofcode on twitter">
</a>
</body>
</html>